*,
*::before,
*::after{
box-sizing: border-box;
padding: 0;
margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: azure;
    display: flex;
    justify-content: center;
    background-color: rgb(27, 7, 7);
    color: white;
}
header h1{
    margin-bottom: 20px;
}

li{
    list-style: none;
}

i{
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}
#todolist{
    margin: 20px 0px;
}
.listitem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    word-break: break-all;
    padding: 5px 20px;
    background-color: brown;
    margin: 5px 0px;
}

input{
    width: 100%;
    height: 45px;
    font-size: 16px;
    padding: 0px 20px;
    background-color: rgb(75, 18, 18);
    border: none;
    color: rgb(184, 182, 182);
    margin-top: 5px;

}

input:focus{
    outline: none;
}
input::placeholder{
    color: rgb(184, 182, 182);
}
.container{
    width: 400px;
    margin: 100px 0px;

}

#find p, header h1, #add p{
    text-align: center;
}
#find{
    margin-bottom: 10px;
}
.hide{
    display: none;
}


@media screen and (max-width:410px){
    .container{
        margin: 50px 10px;
    }
}